@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-padding {
    display: flex;
    padding: 13px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    background: linear-gradient(180deg, #06286E 0%, #164EC0 100%);
}

.text-gradient{
    background: linear-gradient(180deg, #06286E 0%, #164EC0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-gradient{
    border-radius: 42.507px;
    background: linear-gradient(223deg, #051A91 -4.31%, #061C93 14.41%, #2284F1 81.88%, #1F80EB 103.81%);
}
.text-gradient{
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(180deg, #06286E 0%, #164EC0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.FAQ-gradient{
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
    background: linear-gradient(180deg, #06286E 0%, #164EC0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}